@tailwind base;
@tailwind components;
@tailwind utilities;

/* estilos base */
body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  margin: 0;
  color: #111827;
}
